In [2]:
#Import the packages
import pandas as pd
import glob
import os
import numpy as np
import scipy.stats as scs
from scipy.stats import pearson3
import matplotlib.pyplot as plt

In [3]:
#Import the csv files for a state for further analysis
filename = pd.read_excel('./Data/Drought/all_sdf_data.xlsx', sheet_name = 'wy')
filename

,06037500,Unnamed: 1,Duration=2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Duration=3,Unnamed: 8,Unnamed: 9,...,Duration=9,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Duration=10,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46
0,NaN,NaN,Date,Mean_Flow(cfs),Rolling_Average(cfs),Severity(%),Probability(%),Date,Mean_Flow(cfs),Rolling_Average(cfs),...,Date,Mean_Flow(cfs),Rolling_Average(cfs),Severity(%),Probability(%),Date,Mean_Flow(cfs),Rolling_Average(cfs),Severity(%),Probability(%)
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,0.0,2001,444.595514,496.82369,-2.45548,6.25,2002,427.827672,473.825017,...,2006,475.887788,498.442273,-2.137694,7.142857,2007,418.053517,490.403397,-3.716017,7.692308
3,NaN,1.0,2002,427.827672,436.211593,-14.355834,75,2003,436.329167,436.250784,...,2007,418.053517,472.96096,-7.1406,42.857143,2008,499.977358,475.6626,-6.61017,30.769231
4,NaN,2.0,2003,436.329167,432.078419,-15.167326,81.25,2004,414.141056,426.099298,...,2008,499.977358,456.85296,-10.303185,85.714286,2009,479.000182,459.067682,-9.868355,84.615385
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
411,NaN,14.0,2013,149.500839,210.216646,-50.253928,73.684211,2015,276.154276,252.464735,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
412,NaN,15.0,2014,331.73909,240.619964,-43.059228,52.631579,2016,404.963086,337.618817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
413,NaN,16.0,2015,276.154276,303.946683,-28.073471,42.105263,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414,NaN,17.0,2016,404.963086,340.558681,-19.409537,31.578947,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
415,NaN,18.0,2019,374.523277,343.774691,-18.648495,26.315789,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN